.btn {
	&:link,
	&:visited {
		margin-top: 3rem;
		text-transform: uppercase;
		text-decoration: none;
		padding: $default-font-size 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		font-size: $default-font-size;
		position: relative;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.4);

		&::after {
			/* No funciona la forma que tiene de hacerlo en el video, le he añadido la animación y así sí que va DPM */
			animation: desintegrate 0.3s ease-out;
		}
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4;
	}

	&--white {
		background-color: $color-white;
		color: $color-gray-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInButton 1s ease-out;
		animation-delay: 1s;
		/* Establece como estado inicial el estado 0% de la animación */
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all 0.3s;
	}
	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
		transform: translateY(-0.2rem);
	}
	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
		transform: translateY(0rem);
	}
}
